<?xml version="1.0" encoding="UTF-8"?>
<suite name="Test Suite" parallel="methods" thread-count="15">
    <test name="Parabank Tests">
        <classes>
            <class name="runners.TestRunner"/>
        </classes>
    </test>
    <listeners>
        <listener class-name="utils.AllureReportListener"/>
    </listeners>
</suite>
